<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lightsensor">
	<uses-permission android:name="android.permission.BODY_SENSORS" />
	<application>
		<activity android:name="com.unity3d.player.UnityPlayerActivity"
		   android:launchMode="singleTask"
		   android:configChanges="orientation|screenSize|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>